.pagination-button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.details-list {
  list-style-type: none;

  & .details-item {
    line-height: 1.8;
  }

  & .details-link {
    color: inherit;
    text-decoration: none;
  }
}
