
.details-list-wrapper {
  min-height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-list {
  list-style-type: none;
  min-height: 250px;

  & .details-item {
    line-height: 1.8;
  }

  & .details-link {
    color: inherit;
    text-decoration: none;
  }
}
