.popupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 100px;
  margin-top: 15px;
  background-color: rgb(221, 137, 36);
  border-radius: 5px;
  opacity: 0;
  transition: 0.5s;

  & .popupBox {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 5px;
  }

  & .popupLabel {
    font-weight: 500;
  }

  & .popupButton {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
  }
}

.visible {
  opacity: 1;
}
